.login-card {
  max-width: 400px;
  margin: 5rem auto;
  padding: 2rem;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

button {
  width: 100%;
  margin-top: 1rem;
}

p {
  color: red;
  margin-top: 1rem;
}
